:root {
  font-size: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

//! PORTFOLIO TITLE
.portfolio-title-wrap {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 3rem;
  // font-weight: bold;
  // margin: 2rem;
  // margin-bottom: 0;
  @media screen and (max-width: 770px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 375px) {
    margin: 4rem
  }
  .portfolio-title {
    font-family: 'Cardo', serif;
    font-weight: 700;
    margin-bottom: 0;
  }
}

//! WRAPPER
.about-project-one-wrapper {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 1024px) { 
    flex-direction: column !important;
    align-items: center;
  }
}


//! NAVBAR
.navbar {
  display: flex;
  justify-content: center;
  margin: 0.6rem; 
  font-size: 1.2rem;
  font-family: 'Spectral SC', serif;
  font-weight: bold;
  .navbar-item {
    text-decoration: none;
    margin: 0 5px 0 5px;
  }
  .navbar-item:hover {
    font-style: italic;
    font-weight: bold;
  } 
  a {
    color: black;
  }

  }

//! Footer
.copy {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 100;
  color: grey;
}

.footer {
  flex-direction: column;
}

//! HOME & ABOUT
.about-wrap {
  margin: 0 5rem 0 10rem;
  @media screen and (max-width: 770px) { 
    margin: auto;
  }
}

.home-about-wrap {
  margin: 1rem;
  .about-h1 {
    margin: 0;
    font-family: 'Lobster', cursive;
  }
}

.about-page-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}

.home-about-text-wrap {
  margin: 10px;
  max-width: 35rem;
  font-weight: 100;
  font-family: 'Spectral SC', serif;
  @media screen and (max-width: 1024px) { 
    max-width: 50rem;
  }
  @media screen and (max-width: 770px) { 
    max-width: 35rem;
  }
}

.about-h1 {
  font-size: 3rem;
  font-style: italic;
}

.about-page-text-wrap {
  max-width: 50rem;
  @media screen and (max-width: 375px) { 
    max-width: 20rem !important;
  }
  @media screen and (max-width: 770px) { 
    max-width: 40rem;
  }
}

//! PROJECTS
.projects-images-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 770px) { 
    display: flex;
    flex-direction: column;
  }
}

.projects-images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.project-image {
  padding: 20px;
  max-width: 15rem;
  max-height: 20rem;
}

//! PROJECT ONE
.project-one-wrap {
  display: flex;
  margin-bottom: 7rem;
  @media screen and (max-width: 375px) { 
    flex-direction: column;
  }
}
.project-one-column-one {
  display: flex;
  flex-direction: column;
}
.project-one-column-two {
  display: flex;
  flex-direction: column;
}
//! //! //! //! //!

.project-title-project-one {
  justify-content: center;
  font-size: 2rem;
  margin: 0;
  margin-right: 18rem;
}

.project-title-project-four {
  justify-content: center;
  display: flex;
}

.projects-header-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

h3 {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.projects-wrap {
  margin-right: 10em;
  @media screen and (max-width: 770px) { 
    margin-right: 0 !important;
  }
  @media screen and (max-width: 1025px) { 
    margin-right: 0 !important;
  }
}

.project-one-wrap {
  @media screen and (max-width: 375px) { 
    max-width: 22.5rem;
  }
}

.projects-page-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-h1 {
  font-size: 5rem;
  font-family: 'Lobster', cursive;
  font-style: italic;
  margin-top: 3rem;
  margin-bottom: 0;
}

//! PHOTORAPHY
.photography-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photography-header-wrap {
  display: flex;
  flex-direction: column;
}

.slide-image {
  max-width: 25rem;
  justify-content: center;
  @media screen and (max-width: 380px) { 
    max-width: 13rem !important;
  }
}

.photography-h1 {
  font-size: 4rem;
  font-family: 'Lobster', cursive;
  font-style: italic;
  margin-top: 4rem;
  margin-bottom: 0.3rem
}


//! CONTACT 
.contact-section {
  height: 60vh;
}

.contact-wrap {
  justify-content: center;
  display: flex;
}

.contact-text-wrap {
  justify-content: center;
  display: flex;
}

.contact-h1 {
  font-size: 3rem;
  font-family: 'Lobster', cursive;
  font-style: italic;
}



//! SLIDESHOW

.slide-container {
  max-width: 33rem;
  margin: auto; 
  @media screen and (max-width: 380px) { 
    max-width: 20rem !important;
  }
}
  
div.react-slideshow-container .nav:first-of-type {
  margin-right: 2.5rem !important;
  @media screen and (max-width: 370px) { 
    margin-right: 0 !important;
  }
}

.react-slideshow-container {
  max-height: 80rem;
}

.indicators {
  margin: 0;
}

.slideshow-h2 {
  font-size: 1.2rem;
  font-family: 'Spectral SC', serif;
  font-weight: bold;
}

